*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  

}
:root {
    --color-fondo: #cbcbcb;
    --color-asterisco: #e2762e;
    --color-letras: #252b33;
    --color-subtitulo: #6c757d;
  }
  body{
    width: 100%;
   }
  header{
    display: inline-flex;
    justify-content: space-between;
    width: 83%;
    padding: 1.5%;
    margin-left: 3%;
    margin-right: 0;
    min-height: 70px;
  }
  .moxa{
    display: flex;
  }
  .moxita{
    color: black;
    font-size: xx-large;
  }
  .asteriscoheader{
    font-size: 1.5cm;
    text-align: center;
    
  }
  .navbar{
    display: flex;
    justify-content: center;
  }
  .service{
   display: inline;
   list-style: none;
   letter-spacing: 8px;
   
  } 
  .service a{
    text-decoration: none;
    color: var(--color-letras);
    font-size: small;

  }
 .service a:hover{
  color: var(--color-asterisco);
  transition: var(--color-asterisco);
  font-weight:bold;
 }
  .talk{
    background-color: white;
    padding: 0% 3% 0% 3%;
  }
  @media (max-width:900px){
    header{
      flex-direction: column;
    }
  }
  @media (max-width:700px){
    header{
      flex-direction: column;
    }
  }

  /*termina header */
  
  /*comienza hero */

  .hero{
    display: flex;
    margin-left: 5%;
    padding: 2%;
    margin-bottom: 10px;
    min-height: 300px;
    margin-top: 0.5%;
  }
  .hi{
    flex-grow: 1;
    
  }
  .hi h1:hover{
    color: var(--color-asterisco);
  font-size: large;
  transition: 1s;
  
  }
  /* @keyframes escribir{
    from {
      width:0%;
    }
    to {
      height: 100%;
    }
  } */
  
  span{
    color: var(--color-asterisco);
  }
  .imagen{
    flex-grow: 1;
    opacity: 85%;
  }
  .got{
    background-color: black;
    color: white;
    padding: 2%;
    margin-top: 30px;
  }
  .lets{
    background-color: white;
    color: black;
    padding: 2%;
    margin-top: 15px;
  }
  .deve{
    border-radius: 50%;
    width: 390px;
    height: 250px;
    margin-left: 15px;
    margin-right: 80px;
    margin-top: 10px;
  }

  @media (max-width:900px){
    .hero{
      flex-direction: column;
    }
  }
  @media (max-width:700px){
    .hero{
      flex-direction: column;
    }
  }



  /*Fin Hero*/

  /*comeinza barra diagonal foot*/

  .foot{
    min-height: 100px;
  }
  
  .skils{
    display: inline-flex;
    margin-top: 10px;
    background-color: var(--color-letras);
    color: white;
    width: 1350px;
    justify-content: space-around;
    list-style: none;
    height: 70px;
    align-items: center;
    
    
    
  }
  .bi-asterisk{
    color: var(--color-asterisco);
    font-size:20px;
    margin: 35px;
    
  }
  .foot{
    position: relative;
    transform: skewY(-4deg);
    min-height: 100px;
    
  }
 /*  .diago1{
    background-color: var(--color-asterisco);
    position: relative;
    transform: skewY(-8deg);
    width: 300px;
    height: 50px;
    border: 1px solid var(--color-asterisco);

  }
  .diago2{
    background-color: var(--color-asterisco);
    position: relative;
    transform: skewy(95deg);
    width: 300px;
    height: 50px;
    border: 1px solid var(--color-asterisco);

  }  */

  .ima{
    position:absolute;
    z-index: -1;
    width: 450px;
    height: 280px;
    color: var(--color-asterisco);
    
    
  }
  .imagen{
    margin-bottom: 80px;

    
  }

  @media (max-width:900px){
    .foot{
      flex-direction: column;
    }
  }
  @media (max-width:700px){
    .foot ul{
      flex-direction: column;
    }
  }
  

/*FIn barra diagonal foot*/

  
  
 
 
  